* {
  margin: 0px;
  padding: 0px;
}
body {
  /* background-color: #ffffff; */
  background-color: antiquewhite;
}

/* Sticy Navbar************************************ */
.sticky-div {
  padding: 10px;
  /* background-color: #dfdfdf; */

  text-align: center;
  margin-top: 10px 0px;
}
.sticky {
  position: fixed;
  /* top: -11px; Adjust this value to stick below the header */
  /* left: 366px; */
  /* width: 100%; */
  transform: translate(-50%, -174%);
  z-index: 999; /* Ensure it stays below the header */
}
/* End of Sticy Navbar************************************ */

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}
.showRules {
  cursor: pointer;
}
.rules {
  width: 450px;
  display: none;
}
.color1 {
  background-color: red;
}
.color2 {
  background-color: green;
}
.color3 {
  background-color: blue;
}
.color4 {
  background-color: yellow;
}
.color5 {
  background-color: purple;
}
.currentRow {
  background-color: rgba(255, 255, 255, 0.479);
}
.rows-container {
  display: flex;
  flex-direction: column;
}
.circlesContainer {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 6px 10px;
  margin-bottom: 10px;
  p {
    display: flex;
    align-items: center;
  }
}

.allowDuplicate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  input {
    width: 18px;
    height: 18px;
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.circleDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 40px; /* Diameter of the circle */
  height: 40px; /* Diameter of the circle */
  border-radius: 50%; /* Makes the shape circular */

  border: 1px solid black;
  cursor: pointer;
}
.masterReview {
  display: flex;
  align-items: center;
  gap: 3px;
}
.review {
  width: 8px;
  height: 8px;
  border: 1px solid black;
}

.youLost {
  display: none;
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 32px;
}
.youWin {
  display: none;
  background-color: green;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 32px;
}
.playAgain {
  display: none;
  cursor: pointer;
  font-size: 32px;
  margin: 8px 0px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
