* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: antiquewhite;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: white; */
}

.playNow {
  /* color: white; */
  color: black;
  padding: 4px 8px;
  font-size: 32px;
  border-radius: 5px;
  background-color: greenyellow;
  text-decoration: none;
}
.allowDuplicate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  input {
    width: 16px;
    height: 16px;
  }
}
